.support{
	&__item{
		display: flex;
		justify-content: space-between;
		align-items: center;
		&:nth-of-type(1){
			p{
				margin: 0;
				font-size: 1.4rem;
				line-height: 1.15;
			}
		}
		img{
			margin-right: 1.5rem;
		}
		p{
			margin: 0;
			font-size: .9rem;
			line-height: 1.15;
		}
	}
}