img[data-modal]{
    cursor: zoom-in;
}
.modal{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0);
    pointer-events: none;
    transition: all .4s ease;

    & > img {
        width: auto;
        height: 0%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        box-shadow: 0 0 2rem #000;
        transition: all .5s ease;
    }

    &_active{
        background-color: rgba(0,0,0,0.4);
        pointer-events: all;
        & > img{
            width: auto;
            height: 80%;
            cursor: zoom-out;
        }
    }
}
