.portfolio .portfolio{
    &__header{
        margin: 0 11rem 7.5rem;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        & > *{
            margin-right: 5rem;
        }
    }
}
