.tab .tab{
    &__content{
        width: calc( 100% - 8.8rem );
        padding: 2.5rem 4.4rem 1rem;
        position: relative;
        z-index: 1;
        display: none;
        &_hide{
            animation: hideTab 0.5s;
            animation-fill-mode: forwards;
        }
        &_show{
            animation: showTab 0.5s;
            animation-fill-mode: forwards;
        }
        &_active{
            display: block;
        }
    }
}

@keyframes hideTab {
    from{
        opacity: 1;
        transform: translateY(0%) scale(1, 1);
    }
    to{
        opacity: 0;
        transform: translateY(-50%) scale(1, 0);
    }
}

@keyframes showTab {
    from{
        opacity: 0;
        transform: translateY(-50%) scale(1, 0);
    }
    to{
        opacity: 1;
        transform: translateY(0%) scale(1, 1);
    }
}
