$path: '../fonts/fonts'; 

@font-face {
	font-family: 'geometria';
	src:  url('#{$path}/geometria.otf');
	src: url('#{$path}/geometria-webfont.eot?#iefix') format('embedded-opentype'),        /* ie6-ie8 */ 
		url('#{$path}/geometria-webfont.woff2') format('woff2'),                         /* новейшие браузеры */ 
		url('#{$path}/geometria-webfont.woff') format('woff'),                           /* новые браузеры и ie9+ */ 
		url('#{$path}/geometria-webfont.ttf')  format('truetype'),                       /* старые safari, android, ios */ 
		url('#{$path}/geometria-webfont.svg#geometria') format('svg'); /* древние safari, ios, android */ 
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'geometria';
	src:  url('#{$path}/geometria-bold.otf');
	src: url('#{$path}/geometria-bold-webfont.eot?#iefix') format('embedded-opentype'),        /* ie6-ie8 */ 
		url('#{$path}/geometria-bold-webfont.woff2') format('woff2'),                         /* новейшие браузеры */ 
		url('#{$path}/geometria-bold-webfont.woff') format('woff'),                           /* новые браузеры и ie9+ */ 
		url('#{$path}/geometria-bold-webfont.ttf')  format('truetype'),                       /* старые safari, android, ios */ 
		url('#{$path}/geometria-bold-webfont.svg#geometria-bold') format('svg'); /* древние safari, ios, android */ 
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'geometria';
	src:  url('#{$path}/geometria-bolditalic.otf');
	src: url('#{$path}/geometria-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),        /* ie6-ie8 */ 
		url('#{$path}/geometria-bolditalic-webfont.woff2') format('woff2'),                         /* новейшие браузеры */ 
		url('#{$path}/geometria-bolditalic-webfont.woff') format('woff'),                           /* новые браузеры и ie9+ */ 
		url('#{$path}/geometria-bolditalic-webfont.ttf')  format('truetype'),                       /* старые safari, android, ios */ 
		url('#{$path}/geometria-bolditalic-webfont.svg#geometria-bolditalic') format('svg'); /* древние safari, ios, android */ 
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'geometria';
	src:  url('#{$path}/geometria-extrablack.otf');
	src: url('#{$path}/geometria-extrablack-webfont.eot?#iefix') format('embedded-opentype'),        /* ie6-ie8 */ 
		url('#{$path}/geometria-extrablack-webfont.woff2') format('woff2'),                         /* новейшие браузеры */ 
		url('#{$path}/geometria-extrablack-webfont.woff') format('woff'),                           /* новые браузеры и ie9+ */ 
		url('#{$path}/geometria-extrablack-webfont.ttf')  format('truetype'),                       /* старые safari, android, ios */ 
		url('#{$path}/geometria-extrablack-webfont.svg#geometria-extrablack') format('svg'); /* древние safari, ios, android */ 
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'geometria';
	src:  url('#{$path}/geometria-extrablackitalic.otf');
	src: url('#{$path}/geometria-extrablackitalic-webfont.eot?#iefix') format('embedded-opentype'),        /* ie6-ie8 */ 
		url('#{$path}/geometria-extrablackitalic-webfont.woff2') format('woff2'),                         /* новейшие браузеры */ 
		url('#{$path}/geometria-extrablackitalic-webfont.woff') format('woff'),                           /* новые браузеры и ie9+ */ 
		url('#{$path}/geometria-extrablackitalic-webfont.ttf')  format('truetype'),                       /* старые safari, android, ios */ 
		url('#{$path}/geometria-extrablackitalic-webfont.svg#geometria-extrablackitalic') format('svg'); /* древние safari, ios, android */ 
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'geometria';
	src:  url('#{$path}/geometria-extralight.otf');
	src: url('#{$path}/geometria-extralight-webfont.eot?#iefix') format('embedded-opentype'),        /* ie6-ie8 */ 
		url('#{$path}/geometria-extralight-webfont.woff2') format('woff2'),                         /* новейшие браузеры */ 
		url('#{$path}/geometria-extralight-webfont.woff') format('woff'),                           /* новые браузеры и ie9+ */ 
		url('#{$path}/geometria-extralight-webfont.ttf')  format('truetype'),                       /* старые safari, android, ios */ 
		url('#{$path}/geometria-extralight-webfont.svg#geometria-extralight') format('svg'); /* древние safari, ios, android */ 
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'geometria';
	src:  url('#{$path}/geometria-extralightitalic.otf');
	src: url('#{$path}/geometria-extralightitalic-webfont.eot?#iefix') format('embedded-opentype'),        /* ie6-ie8 */ 
		url('#{$path}/geometria-extralightitalic-webfont.woff2') format('woff2'),                         /* новейшие браузеры */ 
		url('#{$path}/geometria-extralightitalic-webfont.woff') format('woff'),                           /* новые браузеры и ie9+ */ 
		url('#{$path}/geometria-extralightitalic-webfont.ttf')  format('truetype'),                       /* старые safari, android, ios */ 
		url('#{$path}/geometria-extralightitalic-webfont.svg#geometria-extralightitalic') format('svg'); /* древние safari, ios, android */ 
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'geometria';
	src:  url('#{$path}/geometria-heavy.otf');
	src: url('#{$path}/geometria-heavy-webfont.eot?#iefix') format('embedded-opentype'),        /* ie6-ie8 */ 
		url('#{$path}/geometria-heavy-webfont.woff2') format('woff2'),                         /* новейшие браузеры */ 
		url('#{$path}/geometria-heavy-webfont.woff') format('woff'),                           /* новые браузеры и ie9+ */ 
		url('#{$path}/geometria-heavy-webfont.ttf')  format('truetype'),                       /* старые safari, android, ios */ 
		url('#{$path}/geometria-heavy-webfont.svg#geometria-heavy') format('svg'); /* древние safari, ios, android */ 
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'geometria';
	src:  url('#{$path}/geometria-heavyitalic.otf');
	src: url('#{$path}/geometria-heavyitalic-webfont.eot?#iefix') format('embedded-opentype'),        /* ie6-ie8 */ 
		url('#{$path}/geometria-heavyitalic-webfont.woff2') format('woff2'),                         /* новейшие браузеры */ 
		url('#{$path}/geometria-heavyitalic-webfont.woff') format('woff'),                           /* новые браузеры и ie9+ */ 
		url('#{$path}/geometria-heavyitalic-webfont.ttf')  format('truetype'),                       /* старые safari, android, ios */ 
		url('#{$path}/geometria-heavyitalic-webfont.svg#geometria-heavyitalic') format('svg'); /* древние safari, ios, android */ 
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'geometria';
	src:  url('#{$path}/geometria-italic.otf');
	src: url('#{$path}/geometria-italic-webfont.eot?#iefix') format('embedded-opentype'),        /* ie6-ie8 */ 
		url('#{$path}/geometria-italic-webfont.woff2') format('woff2'),                         /* новейшие браузеры */ 
		url('#{$path}/geometria-italic-webfont.woff') format('woff'),                           /* новые браузеры и ie9+ */ 
		url('#{$path}/geometria-italic-webfont.ttf')  format('truetype'),                       /* старые safari, android, ios */ 
		url('#{$path}/geometria-italic-webfont.svg#geometria-italic') format('svg'); /* древние safari, ios, android */ 
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'geometria';
	src:  url('#{$path}/geometria-light.otf');
	src: url('#{$path}/geometria-light-webfont.eot?#iefix') format('embedded-opentype'),        /* ie6-ie8 */ 
		url('#{$path}/geometria-light-webfont.woff2') format('woff2'),                         /* новейшие браузеры */ 
		url('#{$path}/geometria-light-webfont.woff') format('woff'),                           /* новые браузеры и ie9+ */ 
		url('#{$path}/geometria-light-webfont.ttf')  format('truetype'),                       /* старые safari, android, ios */ 
		url('#{$path}/geometria-light-webfont.svg#geometria-light') format('svg'); /* древние safari, ios, android */ 
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'geometria';
	src:  url('#{$path}/geometria-lightitalic.otf');
	src: url('#{$path}/geometria-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),        /* ie6-ie8 */ 
		url('#{$path}/geometria-lightitalic-webfont.woff2') format('woff2'),                         /* новейшие браузеры */ 
		url('#{$path}/geometria-lightitalic-webfont.woff') format('woff'),                           /* новые браузеры и ie9+ */ 
		url('#{$path}/geometria-lightitalic-webfont.ttf')  format('truetype'),                       /* старые safari, android, ios */ 
		url('#{$path}/geometria-lightitalic-webfont.svg#geometria-lightitalic') format('svg'); /* древние safari, ios, android */ 
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'geometria';
	src:  url('#{$path}/geometria-medium.otf');
	src: url('#{$path}/geometria-medium-webfont.eot?#iefix') format('embedded-opentype'),        /* ie6-ie8 */ 
		url('#{$path}/geometria-medium-webfont.woff2') format('woff2'),                         /* новейшие браузеры */ 
		url('#{$path}/geometria-medium-webfont.woff') format('woff'),                           /* новые браузеры и ie9+ */ 
		url('#{$path}/geometria-medium-webfont.ttf')  format('truetype'),                       /* старые safari, android, ios */ 
		url('#{$path}/geometria-medium-webfont.svg#geometria-medium') format('svg'); /* древние safari, ios, android */ 
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'geometria';
	src:  url('#{$path}/geometria-mediumitalic.otf');
	src: url('#{$path}/geometria-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),        /* ie6-ie8 */ 
		url('#{$path}/geometria-mediumitalic-webfont.woff2') format('woff2'),                         /* новейшие браузеры */ 
		url('#{$path}/geometria-mediumitalic-webfont.woff') format('woff'),                           /* новые браузеры и ie9+ */ 
		url('#{$path}/geometria-mediumitalic-webfont.ttf')  format('truetype'),                       /* старые safari, android, ios */ 
		url('#{$path}/geometria-mediumitalic-webfont.svg#geometria-mediumitalic') format('svg'); /* древние safari, ios, android */ 
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'geometria';
	src:  url('#{$path}/geometria-thin.otf');
	src: url('#{$path}/geometria-thin-webfont.eot?#iefix') format('embedded-opentype'),        /* ie6-ie8 */ 
		url('#{$path}/geometria-thin-webfont.woff2') format('woff2'),                         /* новейшие браузеры */ 
		url('#{$path}/geometria-thin-webfont.woff') format('woff'),                           /* новые браузеры и ie9+ */ 
		url('#{$path}/geometria-thin-webfont.ttf')  format('truetype'),                       /* старые safari, android, ios */ 
		url('#{$path}/geometria-thin-webfont.svg#geometria-thin') format('svg'); /* древние safari, ios, android */ 
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'geometria';
	src:  url('#{$path}/geometria-thinitalic.otf');
	src: url('#{$path}/geometria-thinitalic-webfont.eot?#iefix') format('embedded-opentype'),        /* ie6-ie8 */ 
		url('#{$path}/geometria-thinitalic-webfont.woff2') format('woff2'),                         /* новейшие браузеры */ 
		url('#{$path}/geometria-thinitalic-webfont.woff') format('woff'),                           /* новые браузеры и ie9+ */ 
		url('#{$path}/geometria-thinitalic-webfont.ttf')  format('truetype'),                       /* старые safari, android, ios */ 
		url('#{$path}/geometria-thinitalic-webfont.svg#geometria-thinitalic') format('svg'); /* древние safari, ios, android */ 
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'kotyhoroshko';
	src:  url('#{$path}/kotyhoroshko-bold.0.2.otf');
	src: url('#{$path}/kotyhoroshko-bold.0.2-webfont.eot?#iefix') format('embedded-opentype'),        /* ie6-ie8 */ 
		url('#{$path}/kotyhoroshko-bold.0.2-webfont.woff2') format('woff2'),                         /* новейшие браузеры */ 
		url('#{$path}/kotyhoroshko-bold.0.2-webfont.woff') format('woff'),                           /* новые браузеры и ie9+ */ 
		url('#{$path}/kotyhoroshko-bold.0.2-webfont.ttf')  format('truetype'),                       /* старые safari, android, ios */ 
		url('#{$path}/kotyhoroshko-bold.0.2-webfont.svg#kotyhoroshko-bold.0.2') format('svg'); /* древние safari, ios, android */ 
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'kotyhoroshko';
	src:  url('#{$path}/kotyhoroshko-regular.0.2.otf');
	src: url('#{$path}/kotyhoroshko-regular.0.2-webfont.eot?#iefix') format('embedded-opentype'),        /* ie6-ie8 */ 
		url('#{$path}/kotyhoroshko-regular.0.2-webfont.woff2') format('woff2'),                         /* новейшие браузеры */ 
		url('#{$path}/kotyhoroshko-regular.0.2-webfont.woff') format('woff'),                           /* новые браузеры и ie9+ */ 
		url('#{$path}/kotyhoroshko-regular.0.2-webfont.ttf')  format('truetype'),                       /* старые safari, android, ios */ 
		url('#{$path}/kotyhoroshko-regular.0.2-webfont.svg#kotyhoroshko-regular.0.2') format('svg'); /* древние safari, ios, android */ 
	font-weight: normal;
	font-style: normal;
}