$path: '../fonts/icomoon';

@font-face {
  font-family: 'icomoon';
  src:  url('#{$path}/fonts/icomoon.eot?t1e00c');
  src:  url('#{$path}/fonts/icomoon.eot?t1e00c#iefix') format('embedded-opentype'),
    url('#{$path}/fonts/icomoon.ttf?t1e00c') format('truetype'),
    url('#{$path}/fonts/icomoon.woff?t1e00c') format('woff'),
    url('#{$path}/fonts/icomoon.svg?t1e00c#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-work-6:before {
  content: "\e904";
}
.icon-work-1:before {
  content: "\e906";
}
.icon-work-2:before {
  content: "\e908";
}
.icon-work-3:before {
  content: "\e909";
}
.icon-work-4:before {
  content: "\e90a";
}
.icon-work-5:before {
  content: "\e90b";
}
.icon-arrow_right:before {
  content: "\e907";
}
.icon-logo:before {
  content: "\e905";
}
.icon-pros_1:before {
  content: "\e900";
}
.icon-pros_2:before {
  content: "\e901";
}
.icon-pros_3:before {
  content: "\e902";
}
.icon-pros_4:before {
  content: "\e903";
}