$color : (
	primary		:	#043083,
	blue		:	#004395,
	dark-black 	: 	#414141,
	dark-gray	: 	#A6A6A6,
	gray 		: 	#F6F6F6,
	white		: 	#ffffff,
	dgray		:	#d8d8d8,
	light-gray	: 	#e0dfdf
);

$max-width: 1240px;
$block-width: 1024px;

html{
	font-size: 10px;
	font-family: 'Roboto', sans-serif;
}

body{
	// max-width: $max-width;
	margin: 0 auto;
}
