.portfolio-card .portfolio-card{
    &__content{
        &-info{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
        }
    }
}
