.faq .faq__defendant-card{
    &-title{
        padding: 2.7rem;
        text-align: center;
        background-image: url('../img/eagle.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto 100%;
    }
}
