.tab .tab{
	&__title{
		width: 100%;
		text-align: left;
		border: none;
		padding: 2.6rem 4rem 2.2rem;
		outline: none;
		line-height: 1.2;
		font-size: 2.4rem;
		color: map-get($color, dark-black);
		border-radius: 0.5rem;
		background-color: map-get($color, gray);
		cursor: pointer;
		position: relative;
		z-index: 2;
		box-shadow: none;
		&_active{
			background-color: map-get($color, blue);
			color: map-get($color, white);
			box-shadow: none;
		}
		&:hover{
			&:after{
				transition: none;
			}
			box-shadow: none;
		}
		&:focus{
			box-shadow: none;
		}
		&:active{
			box-shadow: none;
		}
	}
}
