.portfolio-card .portfolio-card{
    &__content{
        &-sertificat{
            &-image{
                margin: 0;
                -webkit-user-drag: none;
                border-radius: 1rem;
                width: 9.5rem;
                height: 13rem;
                object-fit: cover;
                position: relative;
                top: 0;
                transition: width .5s ease, height .5s ease,  top .5s ease;
            }
        }
    }
}
