.tab .tab{
    &__content-author-image{
        width: 4.7rem;
        height: 4.7rem;
        object-fit: cover;
        border-radius: 100%;
        margin-right: 1.5rem;
        object-position: .5rem .5rem;
        background-color: map-get( $color, dgray );
    }
}
