/*
 * 	Default theme - Owl Carousel CSS File
 */

$color-base:			#f4e7ba !default;
$color-white:			#ffffff !default;
$color-gray:			#000000 !default;

//nav

$nav-color: 			$color-white !default;
$nav-color-hover:		#594f36;
$nav-font-size: 		2rem !default;
$nav-rounded: 			3px !default;
$nav-margin: 			5px !default;
$nav-padding: 			0.5rem 7px !default;
$nav-background: 		inherit !default;
$nav-background-hover:	rgba(0, 0, 0, 0);
$nav-disabled-opacity: 	0.5 !default;

//dots

$dot-width:				10px !default;
$dot-height:			10px !default;
$dot-rounded:			30px !default;
$dot-margin: 			5px 7px !default;
$dot-background:		$color-gray !default;
$dot-background-active:	$color-base !default;

@import 'theme';