.faq .faq__defendant-card-title{
    &-image{
        width: 9rem;
        height: 9rem;
        object-fit: cover;
        border-radius: 100%;
		object-position: 1rem 1rem;
		background-color: map-get( $color, dgray );
    }
}
