.requisites .requisites{
    &__right{
        position: relative;
        &:after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: calc( 100% - 7rem );
            width: 100%;
            background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0.4) 60%, rgba(255,255,255,0.95) 100%);
        }
        &-title{
            margin: 0 0 2.4rem 0.8rem;
            font-size: 2.4rem;
            font-weight: bold;
            color: map-get($color, dark-black);
        }
        &-subtitle{
            margin: 0 0 0 0.8rem;
            font-size: 1.8rem;
            color: map-get($color, dark-black);
            font-weight: normal;
        }
        &-info{
            margin: 0 0 1.5rem 0.8rem;
            font-size: 1.75rem;
            font-weight: 300;
            color: map-get($color, dark-black);
        }
        &-button{
            padding-right: 3.5rem;
            padding-left: 3.5rem;
            text-decoration: none;
            line-height: 6.6rem;
            i{
                margin-right: 1.9rem;
            }
        }
    }
}
