.slider .slider{
    &__slides{
        display: inline-flex;
        flex-direction: row;
        flex-wrap: nowrap;
        transition: all 1s cubic-bezier(0.75, 0.6, 0.3, 1.3);
        height: 100%;
        position: relative;
        cursor: grab;
        &_drag{
            transition: left 0s;
            cursor: move;
        }
    }
}
