.portfolio-card .portfolio-card{
    &__content{
        &-info{
            &-block{
                &-title{
                    font-size: 1.8rem;
                    font-weight: bold;
                    margin: 0 0 0.5rem;
                    color: map-get($color, dark-black);
                }
            }
        }
    }
}
