.requisites .requisites{
    &__left{
        position: relative;
        img{
            border: 1px solid rgba( map-get($color, dark-black), 0);
            transition: all .2s ease;
            &:hover{
                border: 1px solid rgba( map-get($color, dark-black), 1);
            }
            &:nth-of-type(1){
                position: relative;
                margin-top: 7rem;
                margin-right: 12.5rem;
                z-index: 5;
                margin-bottom: 3.6rem;
            }
            &:nth-of-type(2){
                position: absolute;
                top: 3.5rem;
                z-index: 2;
                left: 5.5rem;
            }
            &:nth-of-type(3){
                position: absolute;
                top: 0;
                z-index: 1;
                right: 0;
            }
        }
        p{
            margin: 0;
            position: absolute;
            bottom: 0;
            font-size: 1.8rem;
            left: 0;
            line-height: 1.1;
            transform: translateY( 120% );
            color: map-get( $color, dark-black );
        }
    }
}
