.our-mission{
	&__man{
		img{
			margin-left: 3rem;
			margin-top: 3rem;		
		}
		&:before{
			content: "";
			position: absolute;
			background-image: url(../img/eagle.png);
			z-index: -1;
			width: 524px;
			height: 565px;
			background-repeat: no-repeat;
			background-size: cover;
			background-position-x: 0;
		}
	}
}