.fillial{
	display: flex;
	align-items: initial;
    flex-direction: column;
	&__header{
		padding: 0 11rem;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		color: map-get( $color, dark-black );
	}
	&__title{
		font-weight: bold;
		font-size: 3.6rem;
		line-height: 1.15;
	}
	&__map{
		// flex-basis: 100%;
		height: 500px;
		width: 100%;
		background-color: rgba(144, 142, 142, 0.28);
		position: relative;
		&:before{
			content: '';
   			background-color: rgba(144, 142, 142, 0.66);
			position: absolute;
			top: 0;
			height: 100%;
			width: 100%;
			z-index: 1;
			pointer-events: none;
		}
		& #map{
			height: 100%;
		}
	}
}