.button{
	background-color: map-get($color, blue);
	font-size: 2rem;
	line-height: 1.1;
	color: map-get($color, white);
	border: none;
	outline: none;
	border-radius: 0.5em;
	padding: 1em 2.5em;
	box-shadow: 0 4px 0 darken( map-get($color, blue), 15 );
	transition: all .25s ease;

	position: relative;
	overflow: hidden;

	&:after{
		content: "";
		position: absolute;
		width: 20px;
		top: -100%;
		background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 30%, rgba(255,255,255,0.7) 70%, rgba(255,255,255,0) 100%);
		height: 300%;
		transform: rotate(45deg);
		left: -20%;
	}

	&:hover{
		cursor: pointer;
		background-color: darken( map-get($color, blue), 5 );
		box-shadow: 0 4px 0 darken( map-get($color, blue), 20 );
		&:after{
			transition: left .2s ease;
			left: 120%;
		}
	}

	&:active{
		cursor: grab;
		padding-top: 1.1em;
		padding-bottom: 0.9em;
		background-color: darken( map-get($color, blue), 5 );
		box-shadow: 0 -1px 0 darken( map-get($color, blue), 20 );
	}
}
