.helper{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    &__image{
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: grayscale(100%);
        transition: all .4s ease;
        &:hover{
            filter: grayscale(0%);
        }
    }
    &__center{
        grid-column-start: 2;
        grid-column-end: 4;
        border-radius: 1rem;
        background-color: map-get( $color, blue );
        background-image: url('../img/eagle.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: calc( 100% - 20rem ) auto;
        padding-top: 5rem;
        padding-bottom: 2.75rem;
        &-title{
            margin: 0;
            text-align: center;
            color: map-get( $color, white);
            font-size: 3.6rem;
            margin-bottom: 0.5rem;
            font-weight: bold;
            line-height: 1.2;
        }
        &-number{
            margin: 0;
            text-align: center;
            color: map-get( $color, white);
            font-size: 14rem;
            font-weight: bold;
            line-height: 1;
        }
    }
}
