.faq{
    width: calc( 100% - 16rem );
    padding: 13rem 8rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
}
