.faq .faq__defendant-card{
    &-info{
        margin: 0;
        text-align: center;
        font-size: 1.4rem;
        padding: 0 3rem;
        margin-bottom: 4rem;
        font-weight: normal;
        color: map-get($color, dark-black);
    }
}
