<div class="algorithm">
	<div class="algorithm__title">
		<p>
			Простой алгоритм <br>
			возврата страховок <br>
			по кредиту
		</p>
		<button class="button">Вернуть страховку</button>
		<img src="../assets/img/eagle.png">
	</div>
	<div class="algorithm__cards">
		<div class="algorithm__card">
			<p class="algorithm__card-title">1. Заполнение сервиса</p>
			<p class="algorithm__card-subtitle">
				На бесплатном сервисе заполняете все <br>
				необходимые поля и прикладываете <br>
				документы в течении 10 минут.
			</p>
		</div>
		<div class="algorithm__card">
			<p class="algorithm__card-title">2. Анализ документов и <br>выбор стратегии</p>
			<p class="algorithm__card-subtitle">
				Наши юристы проводят экспертизу Ваших <br>
				документов и определяют стратегию по <br>
				возврату денег в течении часа.
			</p>
		</div>
		<div class="algorithm__card">
			<p class="algorithm__card-title">3. Возврат денег в <br>досудебном порядке</p>
			<p class="algorithm__card-subtitle">
				Благодаря нашей стратегии, Мы <br>
				поможем вернуть деньги оперативно <br>
				без обращения в суд.
			</p>
		</div>
		<div class="algorithm__card">
			<p class="algorithm__card-title">4. Возврат денег через суд</p>
			<p class="algorithm__card-subtitle">
				В случае получение отказа со стороны <br>
				банка и страховой компании наши <br>
				юристы бесплатно представят Ваши <br>
				интересы в суде. Ваше присутствие на <br>
				судах не требуется.
			</p>
		</div>
		<div class="algorithm__card">
			<p class="algorithm__card-title">5. Получение <br>исполнительного листа</p>
			<p class="algorithm__card-subtitle">
				После вынесения судом положительного <br>
				решения будет изготовлен <br>
				исполнительный лист. Наши <br>
				специалисты проведут взыскание Ваших <br>
				денег с банка через судебных приставов <br>
				или ЦБ. Деньги будут перечислены на <br>
				ваши реквизиты.
			</p>
		</div>		
	</div>
</div>