<div class="faq">
	<p class="faq__block-title">Часто задаваемые вопросы</p>
	<div class="faq__questions">
		<div class="faq__questions-tab tab">
			<button type="button" class="button tab__title tab__title_active">1. Какая стоимость вашей помощи?</button>
			<div class="tab__content tab__content_active">
				<div class="tab__content-author">
					<img class="tab__content-author-image" src="../assets/img/man.png">
					<div class="tab__content-author-info">
						<p class="tab__content-author-info-name">Нестеров Илья</p>
						<p class="tab__content-author-info-post">Руководитель юридического отдела</p>
					</div>
				</div>
				<p class="tab__content-answer">
					Мы работаем в рамках некоммерческой общественной
					организации бесплатно для граждан. Многие юридические компании берут
					предоплату за свои услуги, мы не берем оплату с людей, все издержки мы
					накладываем на банк, который уплачивает штраф в пользу общественной организации.
					Вам полностью возврашается сумма комиссии, страховки и проценты, начисленные
					за неё, а также компенсация за моральный ущерб.
				</p>
			</div>
		</div>
		<div class="faq__questions-tab tab">
			<button type="button" class="button tab__title">1. Какая стоимость вашей помощи?</button>
			<div class="tab__content">
				<div class="tab__content-author">
					<img class="tab__content-author-image" src="../assets/img/man.png">
					<div class="tab__content-author-info">
						<p class="tab__content-author-info-name">Нестеров Илья</p>
						<p class="tab__content-author-info-post">Руководитель юридического отдела</p>
					</div>
				</div>
				<p class="tab__content-answer">
					Мы работаем в рамках некоммерческой общественной
					организации бесплатно для граждан. Многие юридические компании берут
					предоплату за свои услуги, мы не берем оплату с людей, все издержки мы
					накладываем на банк, который уплачивает штраф в пользу общественной организации.
					Вам полностью возврашается сумма комиссии, страховки и проценты, начисленные
					за неё, а также компенсация за моральный ущерб.
				</p>
			</div>
		</div>
		<div class="faq__questions-tab tab">
			<button type="button" class="button tab__title">2. Повлияет как-то возврат комиссии или страховки на кредитную историю?</button>
			<div class="tab__content">
				<div class="tab__content-author">
					<img class="tab__content-author-image" src="../assets/img/man.png">
					<div class="tab__content-author-info">
						<p class="tab__content-author-info-name">Нестеров Илья</p>
						<p class="tab__content-author-info-post">Руководитель юридического отдела</p>
					</div>
				</div>
				<p class="tab__content-answer">
					Мы работаем в рамках некоммерческой общественной
					организации бесплатно для граждан. Многие юридические компании берут
					предоплату за свои услуги, мы не берем оплату с людей, все издержки мы
					накладываем на банк, который уплачивает штраф в пользу общественной организации.
					Вам полностью возврашается сумма комиссии, страховки и проценты, начисленные
					за неё, а также компенсация за моральный ущерб.
				</p>
			</div>
		</div>
		<div class="faq__questions-tab tab">
			<button type="button" class="button tab__title">3. По всем ли банкам можно вернуть комиссии или страховку?</button>
			<div class="tab__content">
				<div class="tab__content-author">
					<img class="tab__content-author-image" src="../assets/img/man.png">
					<div class="tab__content-author-info">
						<p class="tab__content-author-info-name">Нестеров Илья</p>
						<p class="tab__content-author-info-post">Руководитель юридического отдела</p>
					</div>
				</div>
				<p class="tab__content-answer">
					Мы работаем в рамках некоммерческой общественной
					организации бесплатно для граждан. Многие юридические компании берут
					предоплату за свои услуги, мы не берем оплату с людей, все издержки мы
					накладываем на банк, который уплачивает штраф в пользу общественной организации.
					Вам полностью возврашается сумма комиссии, страховки и проценты, начисленные
					за неё, а также компенсация за моральный ущерб.
				</p>
			</div>
		</div>
		<div class="faq__questions-tab tab">
			<button type="button" class="button tab__title">4. В моем городе нет филиала вашейобщественной организации? Можете как-то помочь?</button>
			<div class="tab__content">
				<div class="tab__content-author">
					<img class="tab__content-author-image" src="../assets/img/man.png">
					<div class="tab__content-author-info">
						<p class="tab__content-author-info-name">Нестеров Илья</p>
						<p class="tab__content-author-info-post">Руководитель юридического отдела</p>
					</div>
				</div>
				<p class="tab__content-answer">
					Мы работаем в рамках некоммерческой общественной
					организации бесплатно для граждан. Многие юридические компании берут
					предоплату за свои услуги, мы не берем оплату с людей, все издержки мы
					накладываем на банк, который уплачивает штраф в пользу общественной организации.
					Вам полностью возврашается сумма комиссии, страховки и проценты, начисленные
					за неё, а также компенсация за моральный ущерб.
				</p>
			</div>
		</div>
		<div class="faq__questions-tab tab">
			<button type="button" class="button tab__title">5. Сколько времени займет процедура вовзата страховки? Мне тоже нужно будет присутствовать на суде?</button>
			<div class="tab__content">
				<div class="tab__content-author">
					<img class="tab__content-author-image" src="../assets/img/man.png">
					<div class="tab__content-author-info">
						<p class="tab__content-author-info-name">Нестеров Илья</p>
						<p class="tab__content-author-info-post">Руководитель юридического отдела</p>
					</div>
				</div>
				<p class="tab__content-answer">
					Мы работаем в рамках некоммерческой общественной
					организации бесплатно для граждан. Многие юридические компании берут
					предоплату за свои услуги, мы не берем оплату с людей, все издержки мы
					накладываем на банк, который уплачивает штраф в пользу общественной организации.
					Вам полностью возврашается сумма комиссии, страховки и проценты, начисленные
					за неё, а также компенсация за моральный ущерб.
				</p>
			</div>
		</div>
	</div>
	<div class="faq__defendant">
		<p class="faq__defendant-info">На вопросы отвечает</p>
		<div class="faq__defendant-card">
			<div class="faq__defendant-card-title">
				<img class="faq__defendant-card-title-image" src="../assets/img/man.png" alt="">
				<p class="faq__defendant-card-title-name">Нестеров Илья</p>
				<p class="faq__defendant-card-title-post">Руководитель юридического отдела</p>
			</div>
			<p class="faq__defendant-card-info">Тут нужно написать, что он всегда готов ответить на все ваши вопросы</p>
			<button type="button" class="faq__defendant-card-button button">Задать свой вопрос</button>
		</div>
	</div>
</div>
