<div class="header">
	<div class="logophone">
		<div class="logophone__logo">
			<img src="./assets/img/logo.png">
			<p class="logophone__logotext">Государственная общественная <br> организация "Верное Решение"</p>
		</div>
		<div class="logophone__phone">
			<p class="logophone__number"><img src="../assets/img/tel.png"><a href="callto:8 (800) 550-58-98">8 (800) 550-58-98</a></p>
			<p class="logophone__postnumber">Звонок бесплатный по РФ</p>
		</div>
	</div>
	<div class="main-info">
		<p class="main-info__title">
			Бесплатно вернем <br> 
			страховку по кредиту за <br>
			15 дней до 300 000 рублей!
		</p>
		<p class="main-info__subtitle">Помогаем удаленно по всей России!</p>
		<div class="main-info__application">
			<button class="main-info__button button">Подать заявку</button>
			<p class="main-info__appeal">
				Заполните бесплатный сервис всего за <br>
				10 минут не выходя из дома и верните <br>
				свои деньги
			</p>
		</div>
	</div>
	<div class="pros">
		<div class="pros__block">
			<p class="pros__main">6 лет</p>
			<p class="pros__submain">практики решения <br> банковских споров</p>
		</div>
		<div class="pros__block">
			<p class="pros__main">Свыше 870</p>
			<p class="pros__submain">выигранных дел</p>
		</div>
		<div class="pros__block">
			<p class="pros__main">97%</p>
			<p class="pros__submain">выигранных дел</p>
		</div>
		<div class="pros__block">
			<p class="pros__main">36 лет</p>
			<p class="pros__submain">
				суммарный опыт <br>
				сотрудников
			</p>
		</div>
	</div>
</div>