<div class="helper">
    <img class="helper__image" src="/assets/img/people1.png" alt="">
    <img class="helper__image" src="/assets/img/people2.png" alt="">
    <img class="helper__image" src="/assets/img/people3.png" alt="">
    <img class="helper__image" src="/assets/img/people4.png" alt="">
    <img class="helper__image" src="/assets/img/people1.png" alt="">
    <div class="helper__center">
        <p class="helper__center-title">Мы помогли уже</p>
        <p class="helper__center-number">7893</p>
        <p class="helper__center-title">людям</p>
    </div>
    <img class="helper__image" src="/assets/img/people4.png" alt="">
    <img class="helper__image" src="/assets/img/people1.png" alt="">
    <img class="helper__image" src="/assets/img/people2.png" alt="">
    <img class="helper__image" src="/assets/img/people3.png" alt="">
    <img class="helper__image" src="/assets/img/people4.png" alt="">
</div>
