<div class="key-person">
	<p class="key-person__blocktitle">Ключевые лица</p>
	<div class="key-person__block">
		<div class="key-person__man">
			<img src="../assets/img/man.png">
		</div>
		<div class="key-person__content">
			<p class="key-person__name">Нестеров Илья</p>
			<p class="key-person__stuff">Руководитель юридического отдела</p>
			<p class="key-person__text">
				Мы верим, что отношения между <br>
				банками и потребителями можно <br>
				изменить, что бы они тали более <br>
				справедливыми, честными и <br>
				более открытыми
			</p>
		</div>
	</div>
</div>