<div class="our-mission">
	<div class="our-mission__content">
		<p class="our-mission__title">Наша миссия</p>
		<p class="our-mission__subtitle">
			Мы хотим сделать отношения между банками и <br>
			потребителями справедливыми и вернуть людям <br>
			малую часть того, что банки взяли незаконно - <br> 
			<span>1 миллиард рублей</span> навязанных страховок и <br>
			комиссий по кредитам. <br><br>
			Поэтому мы взялись за одну из глобальных <br>
			проблем нашей страны, решение которой <br>
			принесет огромную пользу людям.
		</p>
		<p class="our-mission__signature">
			Ведущий юрист государственной <br>
			общественной огранизации Нестеров Илья
		</p>
	</div>
	<div class="our-mission__man">
		<img src="./assets/img/man.png">
	</div>
</div>