<div class="requisites">
    <div class="requisites__left">
        <img src="../assets/img/svid1.png" alt="">
        <img src="../assets/img/svid1.png" alt="">
        <img src="../assets/img/svid1.png" alt="">
        <p>Наши сертификаты,<br>свидетельства и<br>дипломы</p>
    </div>
    <div class="requisites__right">
        <p class="requisites__right-title">Реквизиты:</p>
        <p class="requisites__right-subtitle">Полное наименование организации:</p>
        <p class="requisites__right-info">Свердловская областная общественная<br>организация по защите прав<br>потребителей "Верное Решение"</p>
        <p class="requisites__right-subtitle">Краткое наименование организации:</p>
        <p class="requisites__right-info">СООЗПП "Верное Решение"</p>
        <p class="requisites__right-subtitle">Юридический адрес:</p>
        <p class="requisites__right-info">623280, Свердловская область, г. Ревда<br>ул. Максима Горького,<br>д.36 кв.37</p>
        <a href="/" class="requisites__right-button button" download><i>&#128462;</i> Скачать полные реквизиты</a>
    </div>
</div>
