<div class="portfolio">
    <div class="portfolio__header">
        <div class="portfolio__header-title">
            <p class="portfolio__header-title_title">Наши возвраты</p>
            <p class="portfolio__header-title_subtitle">Мы вернули гражданам уже более<br>20 000 000 рублей</p>
        </div>
        <button type="button" class="portfolio__header-button button">Вернуть страховку</button>
        <p class="portfolio__header-info">Заполните бесплатный сервис всего<br>за 10 минут не выходя из дома и<br>верните свои деньги</p>
    </div>
    <div class="portfolio__slider slider">
        {{#repeat 5}}
        <div class="slider__slide portfolio-card">
            <img class="portfolio-card__image" src="../assets/img/ready_man1.png" alt="img" data-modal>
            <div class="portfolio-card__content">
                <p class="portfolio-card__content-title">Андрей Анатольевич</p>
                <div class="portfolio-card__content-info">
                    <div class="portfolio-card__content-info-block">
                        <p class="portfolio-card__content-info-block-title">7 898,88 руб.</p>
                        <p class="portfolio-card__content-info-block-text">Сумма навязаной страховки</p>
                    </div>
                    <div class="portfolio-card__content-info-block">
                        <p class="portfolio-card__content-info-block-title">16 083,55 руб.</p>
                        <p class="portfolio-card__content-info-block-text">Вернули по решению суда</p>
                    </div>
                </div>
                <div class="portfolio-card__content-sertificat">
                    <img class="portfolio-card__content-sertificat-image" src="../assets/img/doc1.png" alt="img" data-modal>
                    <img class="portfolio-card__content-sertificat-image" src="../assets/img/doc2.png" alt="img" data-modal>
                    <img class="portfolio-card__content-sertificat-image" src="../assets/img/doc3.png" alt="img" data-modal>
                </div>
            </div>
        </div>
                {{/repeat}}
    </div>
</div>
