<div class="support">
	<div class="support__item">
		<p>При содействии</p>
	</div>
	<div class="support__item">
		<img src="../assets/img/fnpp.png">
		<p>
			Федеральная служба по <br>
			надзору в сфере защиты прав <br>
			потребителей и благополучия человека
		</p>
	</div>
	<div class="support__item">
		<img src="../assets/img/vsrf.png">
		<p>
			Верховный суд <br>
			Российской Федерации
		</p>
	</div>
	<div class="support__item">
		<img src="../assets/img/cbrf.png">
		<p>
			Центральный банк <br>
			Российской Федерации
		</p>
	</div>
	<div class="support__item">
		<img src="../assets/img/fssp.png">
		<p>
			Федеральная служба <br>
			судебных приставов
		</p>
	</div>
</div>