.faq .faq__defendant{
    &-info{
        margin: 0;
        font-size: 1.3rem;
        margin-left: 0.5rem;
        line-height: 1.5;
        margin-bottom: 1rem;
        color: map-get($color, dark-gray);
        font-weight: normal;
    }
}
