.slider .slider{
    &__nav{
        margin: 4.4rem 0.9rem;
        &-dot{
            border: none;
            outline: none;
            padding: 1.4rem;
            border-radius: 100%;
            cursor: pointer;
            margin-right: 0.6rem;
            background-color: map-get($color, gray);
            transition: all 0.3s ease;
            &:hover{
                cursor: pointer;
                background-color: darken( map-get($color, gray), 15 );
            }
            &_active{
                background-color: map-get( $color, blue );
                &:hover{
                    background-color: map-get( $color, blue );
                    cursor: default;
                }
            }
        }
    }
}
