.footer{
	padding-top: 8rem;
	font-size: 2.4rem;
	line-height: 1.15;
	font-weight: bold;
	color: map-get( $color, dark-gray );
	background-color: map-get( $color, light-gray );
	display: flex;
	justify-content: center;
}