.header{
	padding-top: 4.2rem;
	position: relative;
	overflow: hidden;
	&:before{
		content: url(../img/eagle.png);
		position: absolute;
		right: 0rem;
		top: 0;
		transform: translateY(-16%) translateX(1rem) rotate(-14deg);
		z-index: -1;
	}
}