.key-person{
	margin-top: 5rem;
	&__blocktitle{
		font-size: 3.6rem;
		line-height: 1.15;
		font-weight: bold;
		margin: 0 0 5rem 11rem;		
		color: map-get( $color, dark-black );
	}
	&__block{
		height: 496px;
		width: 100%;
		background-color: map-get( $color, gray );
		display: flex;
		flex-direction: row;
		border-radius: 9px;
		align-items: center;
	}
	&__man{
		position: relative;
		height: 100%;
		flex-grow: 4;
		background-image: url(../img/eagle.png);
		background-repeat: no-repeat;
		background-position-x: -6rem;
		background-position-y: -2rem;		
		&:after{
			content: '';
		}
		img{
			position: absolute;
			bottom: 0;
			left: 17%;
		}
	}
	&__content{
		flex-grow: 1;
	}
	&__name{
		font-size: 2.4rem;
		font-weight: bold;
		line-height: 1.15;
		color: map-get( $color, dark-black );
		margin: 0;
	}
	&__stuff{
		font-size: 1.8rem;
		line-height: 1.15;
		margin: 0 0 5rem;
		color: map-get( $color, dark-gray );
	}
	&__text{
		font-size: 2.4rem;
		line-height: 1.15;
		color: map-get( $color, dark-black );
		&:after{
			content: url(../img/sign.png);
			position: absolute;
		}
	}
}