.portfolio-card .portfolio-card{
    &__content{
        &-title{
            margin: 0 0 auto;
            font-size: 2.5rem;
            font-weight: bold;
            color: map-get($color, dark-black);
        }
    }
}
