.faq{
    &__questions{
        width: calc( 60% - 1.7rem );
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        &-tab{
            margin-bottom: 2rem;
        }
    }
}
