.faq .faq__defendant-card-title{
    &-post{
        margin: 0;
        font-weight: normal;
        font-size: 1.4rem;
        margin-top: 0.5rem;
        line-height: 1.2;
        color: map-get($color, dark-gray);
    }
}
