.algorithm{
	display: flex;
	flex-direction: row;
	&__title{
		flex-grow: 2;
		padding-left: 11rem;
		font-weight: bold;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		color: map-get( $color, dark-black );
		p{
			margin: 0 0 4rem;
			font-size: 3.6rem;
			line-height: 1.15;	
		}
		img{
			margin-top: 5rem;
		}
	}
	&__cards{
		flex-grow: 2;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		color: map-get( $color, dark-black );
	}
	&__card{
		padding: 3rem 4rem;
		border-radius: 10px;
		margin-bottom: 2rem;
		min-width: 36rem;
		background-color: map-get( $color, gray );
	}
	&__card-title{
		margin: 0 0 .7rem;
		font-size: 2.4rem;
		line-height: 1.15;
		font-weight: bold;
	}
	&__card-subtitle{
		margin: 0;
		font-size: 1.8rem;
	}
}