{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>True work</title>
		<link rel="stylesheet" href="{{root}}assets/css/app.css">
		<link href="../assets/img/favicon.ico" rel="shortcut icon" type="image/x-icon" />
		<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700,900&amp;subset=cyrillic" rel="stylesheet">
	</head>
	<body>
		{{> body}}
		<script src="{{root}}assets/js/app.js"></script>
		<script>
	      function initMap() {
	        var uluru = {lat: -25.363, lng: 131.044};
	        var map = new google.maps.Map(document.getElementById('map'), {
	          zoom: 4,
	          center: uluru
	        });
	        var marker = new google.maps.Marker({
	          position: uluru,
	          map: map
	        });
	      }
	    </script>
		<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDqU9r2Jc56AUyErWgic4BO3QbiXpcSocY&callback=initMap"></script>
	</body>
</html>
