.logophone{
	&__number{
		font-size: 2.4rem;
		margin: 0 0 .4rem 0;
		display: flex;
		color: map-get( $color, primary );
		a{
			text-decoration: none;
			color: map-get( $color, primary );
		}
		img{
			margin-right: .9rem;
		}
	}
}