.requisites{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 19rem;
    margin-left: 14rem;
    align-items: center;
    padding-bottom: 25.5rem;
    margin-right: 21rem;
}
