.portfolio .portfolio{
    &__header-title{
        &_title{
            font-weight: bold;
            font-size: 3.6rem;
            line-height: 1.15;
            color: map-get($color, dark-black);
            margin: 0 0 0.5rem;
        }
        &_subtitle{
            font-weight: normal;
            font-size: 1.2rem;
            margin: 0;
            line-height: 1.15;
            color: map-get($color, dark-black);
            margin: 0 0 0.5rem;
        }
    }
}
