.tab .tab{
    &__content-answer{
        margin: 0;
        font-weight: normal;
        font-size: 1.8rem;
        line-height: 1.2;
        margin-bottom: 0.5rem;
        color: map-get($color, dark-black);
    }
}
