.portfolio-card .portfolio-card{
    &__content{
        &-info{
            &-block{
                &-text{
                    margin: 0;
                    font-size: 1.5rem;
                    line-height: 1.1;
                    color: map-get($color, dark-black);
                }
            }
        }
    }
}
